.endGame {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(30px);
    color: aliceblue;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 20px;
}